.App {
  text-align: center;
  background-color: #262626;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 623.95203px;
  height: 312.768px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.upload-button {
  width: 100%;
  height: 35px;
  background-color: #373737;
  padding: 0px 10px;
  border-radius: 10px;
  font-size: 12px;
}

.slider {
  width: 150px;
}

h3 {
  color: white;
}

.save-button {
  /* modern button */
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.group-all {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding: 20px 30px;
  background-color: #373737;
  border-radius: 10px;
  margin: 0 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  gap: 100px;
}

.group-all > span {
  color: white;
  width: 100px;
}

.group-all .group-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.group-all h3 {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}

.group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
  border-radius: 10px;
  background: #272424;
}

.reset-button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

h1 {
  color: white;
  font-size: 50px;
}

.input-number {
  width: 60px;
  background-color: #373737;
}
.input-number input {
  color: #fff !important;
}

.group-switch {
  padding: 15px 10px;
  .ant-switch-checked {
    background-color: #bb86fc;
  }
}
:where(.css-dev-only-do-not-override-12jzuas).ant-switch.ant-switch-checked {
  background-color: #bb86fc !important;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}